:root{
    --green: #4caf50;
    --gray: #727272;
    --light-gray: #979797; 
}

.calcular.btn-large {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
}

.centro {
    text-align: center;
}

#saida {
    font-size: xx-large;
}

#atualizacao {
    font-size: small;
    color: var(--light-gray);
}

.sidenav li a {
    font-size: x-large;
}

.sobre {
    margin-left: 15px;
}

.sobre a {
    font-size: large;
}

.no-transition{
    transition: none;
}

footer {
    font-size: small;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 95%;
    color: var(--light-gray);
}

.input-field {
    width: 98.5%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.link-bold a{
    color: #0969da;
    font-weight: 600;
}

.input-field input:focus + label {
    color: var(--green) !important;
}

.input-field input:focus {
    border-bottom: 1px solid var(--green) !important;
    box-shadow: 0 1px 0 0 var(--green) !important
}

.dropdown-content li>span {
    color: var(--green);
}

.input-field>label {
    color: var(--gray);
}

.select-wrapper input.select-dropdown {
    color: var(--gray);
}

.select-wrapper input.select-dropdown:focus {
    color: var(--green);
}

@media (max-width: 354px) {
    footer {
        left: 54%;
        width: 60%;
    }
}

@media (max-height: 560px) {
    footer {
        display: none;
    }
}